<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">MABEME</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- <ul class="navbar-nav mr-auto">
          <li class="nav-item" *ngIf="isLogged">
              <a class="nav-link" [routerLink]="['/principal/ingresar']" routerLinkActive="active">
              Producto
          </a>
          </li>
          <li class="nav-item" *ngIf="isLogged">
              <a class="nav-link" [routerLink]="['/principal/inventario']" routerLinkActive="active">
              Inventario
          </a>
          </li>
      </ul> -->
    </div>
    <!--
  #########################################################################################################
-->
    <a class="navbar-brand hidden-md-down"></a>
    <button type="button" class="btn btn-light" (click)="Regresar()">Regresar</button>

    <!-- <ul class="navbar-nav">
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <span class="navbar-toggler-icon"></span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="home/user/admin/create/user">Crear Cuenta</a>
              <a class="dropdown-item" href="home/user/admin/create/employee">Crear Empleado</a>
              <a class="dropdown-item" href="/home/user/admin/edit_or_delete/employee">Editar Empleado</a>
              <a class="dropdown-item" href="/home/user/admin/view/employee/profile">Ver Empleados</a>
              <a class="dropdown-item" href="/home">Regresar</a>
          </div>
      </li>
  </ul> -->
    <!-- <div class="btn-group dropleft">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
    </button>
        <div class="dropdown-menu ">
            <a class="dropdown-item" href="home/user/admin/create/user">Crear Cuenta</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="home/user/admin/create/employee">Crear Empleado</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="home/user/admin/edit_or_delete/employee">Editar Empleado</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="home/user/admin/view/employee/profile">Ver Empleados</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="home">Regresar</a>
        </div>
    </div> -->
</nav>

<section id="register" class="mb-5 ">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
                <div class="card_login">
                    <div class="card">
                        <div class="card-body text-center">
                            <form class="form-group" (submit)="Register()">
                                <h2>Register Empleado</h2>
                                <div class="form-group">
                                    <input type="email" name="email" id="email" [(ngModel)]="email" class="form-control" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" id="password" [(ngModel)]="password" class="form-control" placeholder="Contraseña">
                                </div>
                                <button class="btn btn-primary btn-block" (click)="Register() ">
                              Register
                              </button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
