<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img style="height: 50px; width: 10opx;" src="../../../../assets/imagenes/logotipo.png">
    <a class="navbar-brand">OUR SYSTEM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    </div>
    <a class="navbar-brand hidden-md-down"></a>
    <button type="button" class="btn btn-light" (click)="Regresar()">Regresar</button>
</nav>
<br>
<!-- <button style="margin-left: 900px;" class="editar" *ngFor="let listar of listarEmpleados" type="button" class="btn btn-success" (click)="Editar(listar)" data-toggle="modal" data-target="#modalEdit">Editar</button>
<button *ngFor="let listar of listarEmpleados" type="button" class="btn btn-danger" (click)="Delect(listar.$idEmpleado)">Eliminar</button> -->
<div class="container">
    <div style="display: table;" class="card ">
        <div class="card-header">
            <h1 class="color">Listado de Empleados</h1>
        </div>
        <div class="card-body" style="text-align: right;">
            <table class="table table-hover table-dark tabla">
                <thead>
                    <tr>
                        <th class="sticky" style="min-width: 170px; text-align: center;">Editar o Eliminar</th>
                        <th class="sticky">Id_Empleado</th>
                        <th class="sticky" style="min-width: 250px; text-align: center;">Nombre y Apellido</th>
                        <th class="sticky" style="min-width: 190px; text-align: center;">Departamento</th>
                        <th class="sticky" style="min-width: 190px; text-align: center;">Puesto</th>
                        <th class="sticky" style="min-width: 140px; text-align: center;">Salario Base</th>
                        <th class="sticky" style="min-width: 140px; text-align: center;">Bonificación</th>
                        <th class="sticky" style="min-width: 140px; text-align: center;">Horas Extras</th>
                        <th class="sticky" style="min-width: 140px; text-align: center;">Comisiones</th>
                        <th class="sticky" style="min-width: 140px; text-align: center;">Dias Laborales</th>
                        <th class="sticky" style="min-width: 140px; text-align: center;">Dias Festivos</th>
                        <th class="sticky" style="min-width: 140px; text-align: center;">Viaticos</th>
                        <th class="sticky" style="min-width: 240px; text-align: center;">Gastos de Representación</th>
                        <th class="sticky" style="min-width: 140px; text-align: center;">IGSS -4.83%</th>
                        <th class="sticky" style="min-width: 140px; text-align: center;">IRTRA 1%</th>
                        <th class="sticky" style="min-width: 140px; text-align: center;">Salario Base</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let listar of listarEmpleados; index as i">
                        <!-- <th scope="row">{{i+1}}</th> -->
                        <td style="text-align: center;">
                            <a class="btn btn-success text-white" (click)="Editar(listar)" data-toggle="modal" data-target="#modalEdit">
                                <i class="far fa-edit"></i>
                            </a>
                            <a class="btn btn-danger text-white" (click)="Delect(listar.$id)">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                        <th scope="row">
                            {{i+1}}
                        </th>
                        <!-- <td>
                            {{listar.idemployee}}
                        </td> -->
                        <td>
                            {{listar.nombre}} {{listar.apellido}}
                        </td>
                        <td>
                            {{listar.departamento}}
                        </td>
                        <td>
                            {{listar.puesto}}
                        </td>
                        <td>
                            {{listar.salarioBase}}
                        </td>
                        <td>
                            {{listar.bonificacion}}
                        </td>
                        <td>
                            {{listar.horasExtras}}
                        </td>
                        <td>
                            {{listar.comisiones}}
                        </td>
                        <td>
                            {{listar.diasLaborales}}
                        </td>
                        <td>
                            {{listar.diasFestivos}}
                        </td>
                        <td>
                            {{listar.viaticos}}
                        </td>
                        <td>
                            {{listar.gastosDeRepresentacion}}
                        </td>
                        <td>
                            {{listar.igss}}
                        </td>
                        <td>
                            {{listar.aporteAlIva}}
                        </td>
                        <td>
                            {{listar.salarioBruto}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<analisis-editarwithmodal></analisis-editarwithmodal>