<div class="fondo">
    <img style="text-align: center; " class="fondo" src="../../../../assets/imagenes/logo.jpeg" alt="">
</div>
<!-- <div style="text-align: left;">
    <button type="button" class="btn btn-dark" (click)=(Consultar())>
      Consultar Empleado
    </button>
</div>
<div style="text-align: center;">
    <button type="button" class="btn1 btn-dark" (click)=(Perfil())>
    Perfil
  </button>
</div> -->
<div class="fixed-top">
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
            <h5 class="text-white h4">Empleado</h5>
            <button type="button" class="btn3 btn-secondary" (click)=(Consultar())>Empleados</button>
            <h5 class="text-white h4">Ver Perfil</h5>
            <button type="button" class="btn3 btn-secondary" (click)=(Perfil())>Ver Perfil</button>
        </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          <img style="height: 50px; width: 10opx;" src="../../../../assets/imagenes/logotipo.png">
        </button>
        <div>
            <button class="moverboton" type="button" class="btn3 btn-secondary" (click)=(Regresar())>Cerrar Sesion</button>
        </div>
    </nav>
</div>