.fondo {
    padding-top: 10px;
    margin-left: 160px;
    width: 600px;
    // height: 500px;
    text-align: center;
}

.btn {
    position: absolute;
    margin-left: 10px;
    top: 40%;
    width: 47%;
    height: 55%;
    font-size: 400%;
    text-align: center;
}

#h5 .mover {
    padding-left: 100px;
}

.moverboton {
    padding-left: 100px;
}

.btn1 {
    position: absolute;
    margin-left: 10px;
    top: 40%;
    width: 47%;
    height: 55%;
    font-size: 450%;
    text-align: center;
}
